githubのLightGBM/example/python-guide/に従ってチュートリアルを行ってみる。

### Simple_example.py

In [1]:
# coding: utf-8
# pylint: disable = invalid-name, C0111
import json
import lightgbm as lgb
import pandas as pd
from sklearn.metrics import mean_squared_error

In [5]:
# load or create your dataset
print('Load data...')
df_train = pd.read_csv('./examples/regression/regression.train', header=None, sep='\t')
df_test = pd.read_csv('./examples/regression/regression.test', header=None, sep='\t')
print(df_train.shape,df_test.shape)

Load data...
(7000, 29) (500, 29)

In [6]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,1,0.644,0.247,-0.447,0.862,0.374,0.854,-1.126,-0.790,2.173,...,-0.190,-0.744,3.102,0.958,1.061,0.980,0.875,0.581,0.905,0.796
1,0,0.385,1.800,1.037,1.044,0.349,1.502,-0.966,1.734,0.000,...,-0.440,0.638,3.102,0.695,0.909,0.981,0.803,0.813,1.149,1.116
2,0,1.214,-0.166,0.004,0.505,1.434,0.628,-1.174,-1.230,1.087,...,-1.383,1.355,0.000,0.848,0.911,1.043,0.931,1.058,0.744,0.696
3,1,0.420,1.111,0.137,1.516,-1.657,0.854,0.623,1.605,1.087,...,0.731,1.424,3.102,1.597,1.282,1.105,0.730,0.148,1.231,1.234
4,0,0.897,-1.703,-1.306,1.022,-0.729,0.836,0.859,-0.333,2.173,...,-2.019,-0.289,0.000,0.805,0.930,0.984,1.430,2.198,1.934,1.684

In [7]:
y_train = df_train[0].values
y_test = df_test[0].values
X_train = df_train.drop(0, axis=1).values
X_test = df_test.drop(0, axis=1).values
print('y_train', y_train.shape)
print('y_test', y_test.shape)
print('x_train', X_train.shape)
print('x_test', X_test.shape)

y_train (7000,)
y_test (500,)
x_train (7000, 28)
x_test (500, 28)

In [8]:
# create dataset for lightgbm
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

In [14]:
lgb_train
# lgb特有のクラスがどうやら存在するらしい