In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['installments_payments.csv', 'bureau_balance.csv', 'credit_card_balance.csv', 'bureau.csv', 'application_test.csv', 'application_train.csv', 'POS_CASH_balance.csv', 'sample_submission.csv', 'previous_application.csv']

In [2]:
# トレーニングデータとテストデータの読み込み
train = pd.read_csv('../input/application_train.csv')
test = pd.read_csv('../input/application_test.csv')

train.shape, test.shape,

((307511, 122), (48744, 121))

In [3]:
# 列名を表示
train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [4]:
# 初めの5行を表示
train.head()

   SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
0      100002             ...                                     1.0
1      100003             ...                                     0.0
2      100004             ...                                     0.0
3      100006             ...                                     NaN
4      100007             ...                                     0.0

[5 rows x 122 columns]

In [5]:
# 各列のデータの型を表示
train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [6]:
# targetの0と1をカウント
train['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [7]:
# EXTが含まれるtrainの列をリストで表示
[col for col in train.columns if 'EXT' in col ]

['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']

In [8]:
# yはtrainのTARGET列
y = train['TARGET']

# trainとtestの3列だけを抽出
train = train.loc[:, ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']]
test = test.loc[:, ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']]

In [9]:
# trainの初めの5行を表示
display(train.head())

# testの初めの5行を表示
display(test.head())

   EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
0      0.083037      0.262949      0.139376
1      0.311267      0.622246           NaN
2           NaN      0.555912      0.729567
3           NaN      0.650442           NaN
4           NaN      0.322738           NaN

   EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
0      0.752614      0.789654      0.159520
1      0.564990      0.291656      0.432962
2           NaN      0.699787      0.610991
3      0.525734      0.509677      0.612704
4      0.202145      0.425687           NaN

In [10]:
# ライブラリのimport
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn import metrics

In [11]:
# trainを0.8:0.2に分割
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.2, random_state=42)

In [12]:
# インスタンス化
gbm = lgb.LGBMClassifier(objective='binary',
                         metric='auc',
                        )

# 学習
gbm.fit(X_train, y_train,
        eval_set = [(X_test, y_test)],
        early_stopping_rounds=50,
        verbose=5)

# X_testを推論
y_pred = gbm.predict_proba(X_test, num_iteration=gbm.best_iteration_)

Training until validation scores don't improve for 50 rounds.
[5]	valid_0's auc: 0.720723
[10]	valid_0's auc: 0.723288
[15]	valid_0's auc: 0.724427
[20]	valid_0's auc: 0.725189
[25]	valid_0's auc: 0.725482
[30]	valid_0's auc: 0.725423
[35]	valid_0's auc: 0.725385
[40]	valid_0's auc: 0.725335
[45]	valid_0's auc: 0.725422
[50]	valid_0's auc: 0.725425
[55]	valid_0's auc: 0.725395
[60]	valid_0's auc: 0.725115
[65]	valid_0's auc: 0.725068
[70]	valid_0's auc: 0.724981
[75]	valid_0's auc: 0.724944
[80]	valid_0's auc: 0.724735
[85]	valid_0's auc: 0.724691
[90]	valid_0's auc: 0.724632
Early stopping, best iteration is:
[43]	valid_0's auc: 0.725522

In [13]:
y_pred

array([[0.8859512 , 0.1140488 ],
       [0.95538411, 0.04461589],
       [0.86660875, 0.13339125],
       ...,
       [0.97039144, 0.02960856],
       [0.94357906, 0.05642094],
       [0.96482457, 0.03517543]])

In [14]:
# testデータを推論
target = gbm.predict_proba(test, num_iteration=gbm.best_iteration_)[:,1]

# サンプルサブミットファイルの読み込み
sample_submit = pd.read_csv('../input/sample_submission.csv')

# サンプルサブミットファイルのTARGETをtargetにする
sample_submit['TARGET'] = target

In [15]:
sample_submit.head()

   SK_ID_CURR    TARGET
0      100001  0.042837
1      100005  0.081264
2      100013  0.030713
3      100028  0.046717
4      100038  0.130629

In [16]:
# sample_submitをsimple_light_gbm.csvとして書き出し
sample_submit.to_csv('simple_light_gbm.csv', index=False)

# 参考

* [＜実践＞はじめてのKaggle体験記 \- kurupicalのブログ](http://kurupical.hatenablog.com/entry/2018/09/10/221420)
* [validation等についてのツイート](https://twitter.com/currypurin/status/1147841378040205314)